*{
    margin: 0;
    padding: 0;
}
h1{
    font-size: 50px;
    color: brown;
    font-style: oblique;
    text-align: center;
    margin-top: 40px;
}
.ans{
    height: auto;
    width: 90%;
    font-size: 24px;
    margin: 30px auto;
    border: 4px solid palevioletred;
}
li{
    margin-left: 45px;
}

#add{
    font-size: 20px;
    padding: 15px;
    background-color: royalblue;
    color: white;
    font-weight: bolder;
}
.ans-2 .add_here{
    color:gold;
    font-size: 30px;
}
#add-re{
    font-size: 20px;
    padding: 15px;
    background-color: royalblue;
    color: white;
    font-weight: bolder;
}
.ans-2 .c{
    font-variant: small-caps;
}


.main{
    height: auto;
    width: auto;
    display: flex;
}

.main .per {
    height: 400px;
    width: 400px;
    margin-top: 40px;
    margin-left: 150px;
    animation-name: animate;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: reverse;
    
}
.main .keyword{
    height: 400px;
    width: 400px;
    margin-top: 40px;
    margin-left: 150px;
    animation-name: anime;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: reverse;


}
